* {
  margin: 0;
  padding: 0;
  font-family: 'arial';
}
nav {
  display: flex;
  align-items: center;
  background: linear-gradient(red,darkorange);
  color: #fff;
  justify-content: space-between;
  padding: 20px 25px;
  position: sticky;
  top: 0;
}
ul li {
  margin: 0 10px;
}
img {
  display: block;
  width: 100%;
}

.card-container {
  display: inline-block;
  padding: 2px;
  width: 200px;
  margin: 5px;
}
.card-container:hover {
  box-shadow: 0 0 5px 1px grey;
  border-radius: 5px;
}
.img-container {
  margin-bottom: 2px;
  border-radius: 5px;
  overflow: hidden;
}
.body-container {
  padding: 2px;
}
.body-container > h4 {
  color: grey;
  font-weight: 200;
  font-size: small;
}
.price-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2px 0;
  font-size: medium;
}
.price-con > p {
  font-size: small;
  font-weight: bold;
  padding: 2px 0;
}

.body-container > div > button {
  background-color: green;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.body-container > h2,h4 {
  white-space: nowrap;       /* Prevent text from wrapping to the next line */
  overflow: hidden;          /* Hide any overflow beyond the container */
  text-overflow: ellipsis;
}


.custom-area {
  display: flex;
  align-items: center;
  padding: 0 50px;
  justify-content: end;
  margin: 10px 0;
}

.custom-area > button {
  margin: 0 5px;
  padding: 0 5px;
}
.srch-area {
  align-items: center;
}

.bag-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* body  */
.res-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding:0 50px;
}
.srch-box {
  padding: 5px;
  width: 250px;
  height: 30px;
  border: 0.5px solid darkblue;
  border-radius: 5px 0 0 5px;
  border-right: 0;
}

.srch-area > button {
  padding: 6px;
  border-radius: 0 5px 5px 0;
  border: 0.5px solid grey;
  background-color: darkblue;
  color: #f0f0f0;
}

.btn-fltr {
  padding: 5px;
}


/* Skeleton Design  */

.card-container-skeleton {
  margin: 5px 50px;
  width: 200px;
}

.custom-area-skeleton > div {
  margin: 5px 0 0 5px;
  padding: 0 5px;
  background-color: #f0f0f0;
  width: 50px;
  height: 20px;
  border-radius: 5px;
}

.img-container-skeleton {
  margin-bottom: 2px;
  border-radius: 5px;
  overflow: hidden;
  width: 200px;
  height: 100px;
  background-color: #f0f0f0;
}

.body-container-skeleton > h4 {
  width: 100px;
  height: 10px;
  background-color: #f0f0f0;
  margin: 4px 0;
}
.price-con-skeleton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2px 0;
}
.price-con-skeleton > p {
  height: 10px;
  width: 40px;
  background-color: #f0f0f0;
}
.bag-con-skeleton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bag-con-skeleton > div {
  height: 25px;
  width: 70px;
  background-color: #f0f0f0;
  margin: 5px 0;
  border-radius: 5px;
}
.bag-con-skeleton > div:nth-child(2) {
  height: 20px;
  width: 50px;

}

/* Not Found container  */

.notfound-con {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  font-weight: bolder;
}